<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is {{name}} 's marks list</h1>
    <ul>
        <li>Maths: {{marks.0}}</li>
        <li>Science: {{marks.1}}</li>
        <li>English: {{marks.2}}</li>
        <li>History: {{marks.3}}</li>
    </ul>
    <h2>total marks: {{dict.total}}</h2>
    <h2>obtained marks: {{dict.obtained}}</h2>
    <h2>percentage: {{ student.percentage }}%</h2>



</body>
</html>